#transform-panel
    position: absolute
    right: 16px
    bottom: 16px
    padding: 16px
    box-sizing: border-box
    width: 400px
    height: max-content
    background-color: white
    border-radius: 8px
    shadow: var(--light-shadow)
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: flex-start
    justify-items: center
    #heading
        font-size: 16px
        font-weight: 800
        margin: 0
        padding: 0
        color: var(--text-dark)
        margin-bottom: 4px
    .subheading
        font-size: 13px
        font-weight: 600
        margin: 0
        padding: 0
        color: var(--text-light)
    #multiply-selection-section
        padding: 8px 0 12px 0
        display: grid
        grid-template-columns: repeat(3, max-content)
        grid-gap: 8px
        justify-content: flex-start
        justify-items: flex-start
    .group-element
        font-weight: 700
        font-size: 11px
        font-family: var(--primary-font)
        padding: 8px
        display: block
        border-radius: 4px
        box-sizing: border-box
        color: white
        width: 32px
        text-align: center
        cursor: pointer
    #current-transformation-container
        padding: 8px 0
        font-family: var(--primary-font)
        align-items: center
        display: grid
        grid-template-columns: max-content max-content 1fr
        #equal-sign
            padding: 0 4px
            margin: 0
        .group-element
            margin: 2px 2px
        #multiplierContainer
            display: flex
            flex-direction: row
            flex-wrap: wrap
            width: 100%
            align-items: center
    #reset-button
        background-color: var(--background-color)
        color: white
        padding: 8px 16px
        font-weight: 600
        font-size: 12px
        border: none
        border-radius: 4px
        cursor: pointer
    #triangle-image
        padding-top: 16px
        height: 180px