<div id="switch-panel">
    <div id="root-systems-container">
        <div class="root-system-item" (click)="switchToRootSystem(RootSystems.A1)">
            <img src="assets/A1.svg" class="root-system-image">
        </div>
        <div class="root-system-item" (click)="switchToRootSystem(RootSystems.A1_A1)">
            <img src="assets/A1_A1.svg" class="root-system-image">
        </div>
        <div class="root-system-item"  (click)="switchToRootSystem(RootSystems.D2)">
            <img src="assets/D2.svg" class="root-system-image">
        </div>
        <div class="root-system-item"  (click)="switchToRootSystem(RootSystems.A2)">
            <img src="assets/A2.svg" class="root-system-image">
        </div>
        <div class="root-system-item" (click)="switchToRootSystem(RootSystems.G2)">
            <img src="assets/G2.svg" class="root-system-image">
        </div>
        <div class="root-system-item"  (click)="switchToRootSystem(RootSystems.C2)">
            <img src="assets/C2.svg" class="root-system-image">
        </div>
        <div class="root-system-item"  (click)="switchToRootSystem(RootSystems.B2)">
            <img src="assets/B2.svg" class="root-system-image">
        </div>
    </div>
</div>